<%# /wizard_add?first_num=33&second_num=122 %>
<h1>New multiplication</h1>
<form action="/wizard_multiply">
  <div>
    <label for="zebra">Multiply this:</label>
    <input id="zebra" name="first_num">
    <label for="giraffe">by this:</label>
    <input id="giraffe" name="second_num">
    <button>
      Multiply!
    </button>
  </div>
</form>