<%# /wizard_add?first_num=33&second_num=122 %>
<h1>New addition</h1>
<form action="/wizard_add">
  <div>
    <label for="zebra">Add this:</label>
    <input id="zebra" name="first_num">
    <label for="giraffe">to this:</label>
    <input id="giraffe" name="second_num">
    <button>
      Add!
    </button>
  </div>
</form>