<%# /wizard_add?first_num=33&second_num=122 %>
<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <div>
    <label for="zebra">Subtract this:</label>
    <input id="zebra" name="first_num">
    <label for="giraffe">from this:</label>
    <input id="giraffe" name="second_num">
    <button>
      Subtract!
    </button>
  </div>
</form>