<div>
  <form action="results">
    <div>
      <label for="lat">Latitude</label>
      <input id="lat" name="user_latitude" placeholder="Enter the latitude">
    </div>
    <div>
      <label for="lng">Longitude</label>
      <input id="lng" name="user_longitude" placeholder="Enter the longitude">
    </div>
    <button> Lookup Weather!</button>
  </form>
</div>

