<h1>Street address to weather calculation</h1>
<div>
  <form action="results">
    <div>
      <label for="address">Street Address</label>
      <input id="address" name="user_street_address" placeholder="Enter the address">
    </div>
    <button> Tell me the weather!</button>
  </form>
</div>

